# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.keystore
*.mobileprovision

# Metro
.metro-health-check*

# Environment files
.env
.env.*
!.env.example

# debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS / System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo

# typescript & build
*.tsbuildinfo
coverage/

app-example

# generated native folders
/ios
/android
